swagger: '2.0'
info:
  description: Документация дла тестового задания
  version: 0.0.1
  title: EON TEST API
  contact:
    name: Владислав
    email: vladislav.reshetow@gmail.com
host: eon.estate
basePath: /api/v0
tags:
  - name: cats
    description: Коты
  - name: socks
    description: Носки
  - name: tomatoes
    description: Томаты
schemes:
  - https
paths:
  /cats:
    get:
      tags:
        - cats
      summary: Возвращает список котов
      produces:
        - application/json
      responses:
        '200':
          description: Успешная операция
          schema:
            type: array
            items:
              $ref: '#/definitions/Cat'
  /socks:
    get:
      tags:
        - socks
      summary: Возвращает список носков
      produces:
        - application/json
      responses:
        '200':
          description: Успешная операция
          schema:
            type: array
            items:
              $ref: '#/definitions/Sock'
  /tomatoes:
    get:
      tags:
        - tomatoes
      summary: Получение списка томатов
      responses:
        '200':
          description: Успешный запрос
          schema:
            type: array
            items:
              $ref: '#/definitions/Tomato'
definitions:
  Cat:
    type: object
    required:
      - id
      - name
      - image
      - advantages
    properties:
      id:
        type: integer
        example: 1
      name:
        type: string
        description: Название породы
        example: Британская короткошерстная
      image:
        type: string
        description: Путь до картинки с котиком
        example: 'https://eon.estate/static/images/cat/1cat-f36cc496802e10056b9bee7fa6114464.jpg'
      advantages:
        type: array
        description: Массив приемуществ кота
        items:
          example: Спокойная
  Sock:
    type: object
    required:
      - id
      - name
      - images
    properties:
      id:
        type: integer
        example: 1
      name:
        type: string
        example: 'Неделька, мужской комплект носков 7 пар'
      images:
        type: array
        description: Массив с ссылками на изображения
        items:
          type: string
          example: 'https://eon.estate/static/images/socks/1socks-9d82b79a42dd870c2854eb81bdff91db.jpg'
  Tomato:
    type: object
    required:
      - id
      - name
      - image
      - description
      - price
    properties:
      id:
        type: integer
        description: Id томата
        example: 1
      name:
        type: string
        description: Название сорта томата
        example: Помидоры сладкие
      image:
        type: string
        description: Ссылка на изображение
        example: 'https://eon.estate/static/images/tomato/1tomato-9233680597022.jpg'
      description:
        type: string
        description: Описание сорта
        example: 'Плоды среднего размера, сочные и мясистые, с плотной ярко-красной кожицей...'
      price:
        type: integer
        description: Цена в руб за кг
        example: 150
